@media (max-width: 991px) {

    .navbar-collapse {
        background: #F6FBFB;
        padding: 15px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .nav-link::after {
        bottom: -2px;
    }

    .header-logo {
        height: 35px;
    }

    .hero-title {
        font-size: 28px;
    }

    .hero-section {
        text-align: center;
    }

    .hero-img-area {
        margin-top: 12px;
    }

    .hero-img {
        max-height: 300px;
    }
}

@media (max-width: 768px) {

    .hero-img {
        max-height: 250px;
    }

    .footer {
        text-align: center;
    }

    .footer-social a {
        margin: 5px;
    }
}

@media (max-width: 576px) {

    .hero-title {
        font-size: 24px;
    }

    .hero-img {
        max-height: 200px;
    }

    .custom-btn {
        padding: 6px 14px;
        font-size: 14px;
    }
}
