@media (max-width: 991.98px) {

    .navbar-collapse {
        background: #F6FBFB;
        padding: 15px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .nav-link::after {
        bottom: -2px;
    }

    .header-logo {
        height: 35px;
    }

    .custom-dropdown-menu {
        position: static;
        transform: none;
        max-width: 25%;
        border-radius: 8px;
        display: none;
    }

    .custom-dropdown.active .custom-dropdown-menu {
        display: block;
    }

    .hero-title {
        font-size: 28px;
    }

    .hero-section {
        text-align: center;
    }

    .hero-img-area {
        margin-top: 12px;
    }

    .hero-img {
        max-height: 300px;
    }

    .hero-hanging-area {
        display: none;
    }

    .experience-left {
        border-right: unset;
        margin-bottom: 20px;
    }

    .timeline {
        text-align: center;
    }

    .skill-right .skill::before {
        display: none;
    }
}

@media (max-width: 767.98px) {

    .hero-img {
        max-height: 250px;
    }

    .skill-right {
        padding-right: unset;
    }

    .testimonial-card .name-img {
        gap: 5px;
    }

    .owl-carousel .owl-item .testimonial-card img {
        width: 38px;
        height: 38px;
    }

    .testimonial-card .name-img h5 {
        font-size: 14px;
    }

    .testimonial-card span {
        margin-left: 25px;
        font-size: 14px;
    }

}

@media (max-width: 575.98px) {

    .hero-title {
        font-size: 24px;
    }

    .hero-img {
        max-height: 200px;
    }

    .custom-btn {
        padding: 6px 14px;
        font-size: 14px;
    }
}

@media (max-width: 299px) {

    .header-logo {
        height: 27px;
    }

    .hero-subtitle {
        font-size: 14px !important;
    }

    .pagination {
        gap: 4px;
    }

    .pagination li a {
        padding: 4px 10px;
        font-size: 14px;
    }
}
